<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <wffm>
      <wffmActionExecutor type="Sitecore.Forms.Core.Dependencies.DefaultImplActionExecutor, Sitecore.Forms.Core">
        <patch:attribute name="type">Sitecore.Support.Forms.Core.Dependencies.DefaultImplActionExecutor,Sitecore.Support.206078</patch:attribute>
      </wffmActionExecutor>
    </wffm>
  </sitecore>
</configuration>